*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px; /* Altura deseada para el <link>footer</link>, ajusta según tus necesidades */
  background-color: #f8f9fa; /* Cambia el color de fondo según tu diseño */
  border-top: 1px solid #ddd; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: auto;
  position: relative;
}

h5{
    color: #3cbfe0;
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h3{
  color: #3cbfe0;
  font-size: x-large;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.subtitle {
  color: #3cbfe0;
  font-size: larger;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


p{
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.texto {
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: 'Fira Sans Condensed', sans-serif;
}

h6 {
  color: black;
  font-size: larger;
  font-family: 'Fira Sans Condensed', sans-serif;
}


body {
  display: flex;
  background-color: #eee;
  height: 100vh;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top, #fff 10%, rgba(137, 231, 238, 0.4) 90%) no-repeat
}

.wrapper {
  max-width: 470px;
  border-radius: 10px;
  padding: 15px 20px;
}

.h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  color: #3cbfe0;
  font-style: italic
}


.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid#3cbfe0;
  color: #3cbfe0;
}

.input-field:hover {
  color: #174893
  border 1px solid #174893
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
}


a {
  text-decoration: none;
  color: #174893;
  font-weight: 700
}

a:hover {
  text-decoration: none;
  color: #174893;
}

.option {
  position: relative;
  padding-left: 30px;
  cursor: pointer
}

.option label.text-muted {
  display: block;
  cursor: pointer
}

.btn.btn-block {
  border-radius: 20px;
  background-color: #3cbfe0;
  color: #fff
}

.btn.btn-block:hover {
  background-color: #174893
}

.card-text {
  color: black;
  font-size: 1rem;
  font-family: 'Fira Sans Condensed', sans-serif;

}

.card-title{
  color: #3cbfe0;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}


.box_registro {
  background-color: white;
  max-width: 600px;
  border-radius: 10px;
  height: 490px;
  margin: 80px auto; 
  width: 400px; 
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.circular-image {
  border-radius: 50%;
  max-width: 60%;
  max-height: 60%;
  height: auto;
  margin-top: 40px; 
    max-width: 100%;
    height: auto;
}



.box_registro_establecimiento {
  background-color: white;
  max-width: 1500px;
  border-radius: 10px;
  height: 500px;
  margin: 80px auto 50px;
  width: 1200px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}